@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Fira+Code:wght@400;700&display=swap');

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header, footer{
    background-color: rgb(11, 0, 167);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header{ /*Menu header restant en haut de la page*/
    width: auto;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 30px 0;
}

p, a, h1, h3, h4{
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
}

nav{
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}

h3{
    font-size: 30px;
}

h4{
    margin: 0;
}

.banderol{
    background-image: url(image/banderol-image.gif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.banderol h1, h4{
    font-size: 40px;
}

#link-nav{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.icon-link1{
    height: 65px
}

.icon-link2{
    height: 80px
}

.body-site{
    margin: 30px;
}

#about_me{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#about_me::before {/* décalage vide et invisible pour l'affichage de la page pour la navigation */
    content: '';
    display: block;
    height: 70px; 
    margin-top: -70px; 
    visibility: hidden;
}

.content-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#project::before {
    content: '';
    display: block;
    height: 70px; 
    margin-top: -70px; 
    visibility: hidden;
}

.image{
    height: 250px;
    margin-right: 25px;
}

.image2{
    height: 350px;
    margin-right: 25px;
}

.image3{
    height: 300px;
    margin-right: 40px;
    margin-left: 25%;
}

.image4{
    height: 400px;
}

.my-project{
    display: flex;
    margin-bottom: 35px;
}

#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#contact h3{
    margin-right: 235px;
}

.contactbox{
    display: flex;
    flex-direction: column;
}

.contactbox p{
    margin: 0;
}

input, textarea{
    width: 350px;
}

/* Position image mouvement
Position start et end*/